html
  head
    link(
     rel="stylesheet"
      href="/public/kaiawesome/css/all.css"
    )
    link(
     rel="stylesheet"
      href="/public/404.css"
    )
  body
    .mainbox
      .err 4
      i.far.fa-question-circle.fa-spin
      .err2 4
      .msg
        p #{error}
        p
          | Kindly log in again here.... 
          a(href="/") Login
       







