extends base
block content

    .row
        div.cont
         h4 Staff on Leave
         h4 #{total}
        
        div.cont
         h4 Staff No
            h4 #{staffnos}
        div.cont
         h4 Staff Exits
          h4 #{exits}
        div.cont
         h4 Gender
           h4 Male= #{male}
           |
           h4 Female= #{fem}
            
            